{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}?{% now 'U'}">
<link rel="stylesheet" href="{% static 'home.css' %}?{% now 'U'}">
<script src="https://kit.fontawesome.com/bd5445f265.js" crossorigin="anonymous"></script>
{% endblock %}

{% block main %}
<div class="body">
 <h1>Welcome to Grocery Tracker</h1>
 <p>How to use this website</p>
 <h2>Inventory</h2>
 <p>List of all inventory items with sorting functionality</p>
 <h2>Modify</h3>
 <p>Insert, delete, and update inventory items</p>
 <h2>Grocery List</h4>
 <p>Add items (and the amount you need) onto your grocery list in the settings tab</p>
 <p>Click the generate list tab </p>
 <p>You will see a list of items based on the items you need subtracted by the items you have</p>
 <p>Click the save tab to get a pdf version of the list</p>
</div>
{% endblock %}