{% extends 'base.html' %}

{% block head %}
<title>Modify</title>
{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}?{% now 'U'}">
<link rel="stylesheet" href="{% static 'grocerymodify.css' %}?{% now 'U'}">
<link rel="stylesheet" href="{% static 'grocery_delete.css' %}?{% now 'U'}">
<script src="https://kit.fontawesome.com/bd5445f265.js" crossorigin="anonymous"></script>
{% endblock %}

{% block main %}
<!-- Main content (Grocery inventory & sidenav)   -->
<main>
 <!-- Grocery inventory -->
 <div class="inventorycontainer">
  {% for instance in object_list %}
  {% if instance.username == user.get_username %}
  <div class="box" onclick="location.href='http://127.0.0.1:8000/groceries/modify/delete/{{ instance.id }}'">
   <p>{{ instance.name }}</p>
   <div class="qty">Qty: {{ instance.quantity }}</div>
  </div>
  {% endif %}
  {% endfor %}
 </div>
</main>
<div class="modifysidebar">
 <h1>Modify</h1>
 <div class="modifysidebarheader">
  <div class="insert"><a href="http://127.0.0.1:8000/groceries/modify/insert">Insert</a></div>
  <div class="delete"><a href="http://127.0.0.1:8000/groceries/modify/delete">Delete</a></div>
  <div class="change"><a href="http://127.0.0.1:8000/groceries/modify/update">Update</a></div>
 </div>
 <div class="form">
  <form method='POST'>{% csrf_token %}
   <h1>Do you want to delete the item "{{object.name}}"</h1>
   <div class="inputbuttons">
    <input type="submit" value='Yes' style="margin-right:30px;"/>
    <a href='../'>Cancel</a>
   </div>
  </form>
 </div>
</div>
{% endblock %}