{% extends 'base.html' %}

{% block head %}
 <title>Grocery List</title>
 {% load static %}
 <link rel="stylesheet" href="{% static 'base.css' %}?{% now 'U'}">
 <link rel="stylesheet" href="{% static 'grocerylist.css' %}?{% now 'U'}">
 <script src="https://kit.fontawesome.com/bd5445f265.js" crossorigin="anonymous"></script>
{% endblock %}

{% block main %}

<!-- Main content (Grocery inventory & sidenav)-->
<main>
 <!-- Grocery inventory -->
 <div class="inventorycontainer">
  <!-- Grocery List -->
  <div class="grocerylistgenerated">
   <h1>Grocery list</h1>
   <p>asdf</p>
   <p>123</p>
  </div>
 </div>
</main>

<!-- Sorting tab -->
<div class="optionsidebar">
 <h1>Options</h1>
 <div class="optionsidebarheader">
  <div class="grocerylist"><a href="http://127.0.0.1:8000/groceries/grocery_list">Grocery List</a></div>
  <div class="grocerylistsettings"><a href="http://127.0.0.1:8000/groceries/grocery_list/settings">Settings</a></div>
 </div>
</div>

{% endblock %}