{% extends 'base.html' %}

{% block head %}
  <title>Modify</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'base.css' %}?{% now 'U'}">
  <link rel="stylesheet" href="{% static 'grocerymodify.css' %}?{% now 'U'}">
  <script src="https://kit.fontawesome.com/bd5445f265.js" crossorigin="anonymous"></script>
{% endblock %}

{% block main %}
    <!-- Main content (Grocery inventory & sidenav)   -->
 <main>
    <!-- Grocery inventory -->
    <div class="inventorycontainer">
      {% for instance in object_list %}
      <div class="box">
        <p>{{ instance.name }}</p>
        <div class="qty">Qty: {{ instance.quantity }}</div>
      </div>
      {% endfor %}
    </div>
 </main>
  <div class="modifysidebar">
    <h1>SORTING SECTION</h1>
    <div class="form">
      <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Save' />
      </form>
    </div>
  </div>
{% endblock %}