<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>Basic HTML File</title>
 <link rel="stylesheet" href="static/developmentstyle.css">
</head>

<body>
    <!-- 5 main componenets to a webpage (Header, Nav, Main, Aside(Often placed in main), Footer)-->
  <header>
    <h1>
      TITLE
    </h1>
  </header>

  <nav>
    
  </nav>

  <main>
    <h2>
      hello
    </h2>
    <aside>

    </aside>
  </main>

  <footer>
    
  </footer>
</body>

</html>