/* General CSS for the body */
body{
  background-color: rgb(113, 139, 166);
}

/* CSS for header */
header{
  display:inline-block;
  height: 7vh;
  /*
  border:10px solid black;
  */
}

header > h1{
  color: rgb(211, 221, 231);
  font-size: 2.5em;
  padding-left: 10px;
}

/* CSS for navbar */
nav {
  height: 5vh;
  /*
  border:10px solid red;
  */
  color: rgb(42, 76, 112);
  background-color:rgb(163, 182, 202);
  border: 5px solid rgb(42, 76, 112);
  border-radius:30px;
  padding:0px 15px 10px 15px;
}

nav a{
  color: rgb(42, 76, 112);
}

nav a:link{
  text-decoration:none;
  color:rgb(42, 76, 112);
}

nav a:hover{
  color: white;
  cursor: pointer;
}

nav .home{
  display:inline-block;
  margin-right: 5vw;
}


nav .inventory{
  display:inline-block;
  margin-right: 5vw;
}


nav .modifyinventory{
  display:inline-block;
  margin-right: 5vw;
}


nav .grocerylist{
  display:inline-block;
  margin-right: 5vw;
}


/* CSS for grocery inventory */ 
main {
  display: inline-block;
}

.inventorycontainer{
  height: 70vh;
  width: 75vw;
  background-color: rgb(211, 221, 231);
  border:2px solid rgb(163, 182, 202);
  box-shadow: 12px 12px 2px 1px rgba(42, 76, 112);
  border-radius:30px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  padding:10px;
}

.box{
  color:black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size:1em;
  background-color:rgb(75, 107, 140, 0.3);
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .25);
  height: 7em;
  width: 7em;
  margin: .8em;
  border: 3px solid rgb(42, 76, 122);
  padding:5px;
}

.box:hover{
  background-color: rgb(75, 107, 140);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .25);
  transform:scale(1.1);
  cursor:pointer;
}

/* Sorting section */
.sorter {
  display: inline-block;
  padding-top: 0px;
  width: 20vw;
  height: 30vw;
  border: 10px solid orange;
  text-align:center;
}








/* Sidebar */
.sidebar{
  position: fixed;
  right: -350px;
  width:250px;
  height:100%;
  background: rgb(42, 76, 112);
  user-select: none;
  transition: all 1s ease;

}

.sidebar h1 {
  font-size: 22px;
  color: white;
  text-align:center;
  line-height:70px;
  background: rgba(90, 146, 206);
}

.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-right: 40px;
  box-sizing: borderbox;
  border-top: 1 px solid rgba(255, 255, 255, .1);
  transition: .5s;
}

.sidebar  ul  li {
  margin-left: -30px;
  padding-right:40px;
  list-style:none;
  text-decoration:none !important;
}

.sidebar a:link{
  text-decoration:none;
}

.sidebar ul li:hover a{
  padding-left:30px;
}

.sidebar ul a i {
  margin-right:16px;
}

#check{
  display:none;
  position:absolute;
  top:1px;
  right:1px;
}

label{
  position:absolute;
  top:1px;
  right:1px;
}

label #btn, label #cancel{
  position: absolute;
  cursor: pointer;
  background: rgb(211, 221, 231);
  border-radius:3px;
}

label #btn{
  right: 40px;
  top: 25px;
  font-size: 35px;
  color: black;
  padding: 6px 12px;
  transition: all 1s;
}

label #cancel{
  z-index: 1111;
  right: 15px;
  top:40px;
  font-size:30px;
  color: #0a5276;
  padding: 4px 9px;
  opacity: 0;
}

#check:checked ~ .sidebar{
  right:0;
}

#check:checked ~ label #btn {
  right: 250px;
  opacity:0;
  pointer-events:none;
}

#check:checked ~ label #cancel {
  transition-delay: 1s, 5s;
  opacity: 1;
}













/* Content layout */
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

header {
  grid-column: 1 / 6;
  grid-row: 1;
}

/* Nav layout */
nav{
  grid-column: 1 / 6;
  grid-row: 2;
}

nav .inventory > a{
  text-decoration: underline;
}

nav .inventory > a:hover{
  color:rgb(42, 76, 112);
}






.sorter {
  grid-column: 5;
  grid-row: 3;
}

main {
  grid-column: 1 / 4;
  grid-row: 3;
}

footer {
  grid-column: 1 / 3;
  grid-row: 4;
}